<%- include('partials/header') %>

<div class="jumbotron text-center">
  <div class="container">


    <p class="secret-text">Authentication Successful</p>
    <hr>

    <a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a>

  </div>
</div>

<%- include('partials/footer') %>